<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="inicio">Curriculum Vitae</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <div *ngFor="let menu of menus[indicesel]; let indice=index">
        <li class="nav-item" routerLinkActive="active" *ngIf="menu!=menus[indicesel][3]">
          <a class="nav-link" routerLink="{{menus[0][indice]|lowercase}}">
            <div class="btn-menu"><strong>{{menu}}</strong></div>
          </a>
        </li>
      </div>
      <li class="nav-item">
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{nombrecombo}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div *ngFor="let idioma of idiomas; let i=index">
                  <button class="dropdown-item" type="button" (click)="selIdioma(idioma)">{{nombreidiomas[indicesel][i]}}</button>
                </div>
              </div>
          </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="salir" (click)="salir()">
          <div class="btn-menu"><strong>logout</strong></div>
        </a>
      </li>
    </ul>
  </div>
</nav>
